<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<img border="0" align="right" alt="duke" src="duke_jslee.png" />
<h1>Changelog for the JAIN SLEE (JSLEE) v1.1 Technology Compatibility Kit</h1>
<p> The changelog is currently empty </p>
